.comment {
  background: #fff;
  padding: 20px;

  h2 {
    margin-right: 6px;
    margin-bottom: 12px;
  }
}
.table {
  border: 1px solid #eee;
  border-bottom: 0;
}
.pagination {
  padding-top: 20px;
}
