.main {
  background: #fff;
  padding: 16px;

  h2 {
    margin-bottom: 12px;
  }

  .list {
    display: flex;
    .edit {
      width: 400px;
    }
  }

  .table {
    flex: 1;
    margin-left: 50px;
    border: 1px solid #eee;
    border-bottom: 0;
  }
}
