.list {
  background: #fff;
  padding: 16px;

  .top {
    h2 {
      display: inline-block;
      margin-right: 6px;
    }

    a {
      padding: 4px 8px;
      color: #00a0d2;
      border: 1px solid #eee;

      &:hover {
        background: #00a0d2;
        color: #fff;
      }
    }
  }

  .articleType {
    margin: 10px 0;

    > span {
      user-select: none;
      cursor: pointer;

      &.active {
        font-weight: 600;
        color: #00a0d2;
        span {
          font-weight: 400;
        }
      }

      &:hover {
        color: #00a0d2;
      }
    }
  }

  .table {
    .title {
      b {
        color: #0073aa;

        &:hover {
          cursor: pointer;
          color: #00a0d2;
        }
      }
    }
  }
}

.pagination {
  padding-top: 12px;
}
