.main {
  height: 100vh;
  background: #f1f1f1;
}
.login {
  width: 360px;
  margin: auto;
  padding: 12% 0 0;
}
.form {
  padding: 36px 40px 40px;
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(00, 00, 00, 0.3);
  border-radius: 8px;

}