.container {
  display: flex;
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
  bottom: 0;
}

.aside {
  width: 180px;
  background: #23282d;
  color: #fff;
  overflow: auto;

  a {
    color: #fff;
    display: block;
  }

  > ul {
    line-height: 36px;

    > li {
      > div {
        a {
          padding-left: 12px;

          &:hover {
            color: #00a0d2;
          }

          &.active {
            background: #0073aa;
          }
        }
      }

      > ul > li {
        a {
          padding-left: 24px;

          &:hover {
            color: #00a0d2;
          }

          &.active {
            color: #00a0d2;
            font-weight: 600;
          }
        }
      }
    }

    // li {
    //   ul > li {
    //     padding-left: 30px;

    //     a {
    //       display: block;
    //     }
    //   }
    //   > div {
    //     padding-left: 14px;
    //   }
    // }
  }
}
.main {
  overflow-y: auto;
  background: #eee;
  flex: 1;
}
