.container {
  display: flex;
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
  bottom: 0;
}

.aside {
  width: 180px;
  background: #23282d;
  color: #fff;
  overflow: auto;

  a {
    color: #fff;
  }

  ul {
    line-height: 36px;

    li {
      &.active {
        div {
          background: #0073aa;
        }
      }
    }

    li {
      ul > li {
        padding-left: 30px;
        a {
          display: block;
        }
      }
      > div {
        padding-left: 14px;
      }
    }
  }
}
.main {
  overflow-y: auto;
  background: #eee;
  flex: 1;
}
